h1 {
    text-align: center;
    font-style: italic;
    color: #87CEFA;
}

body {
    text-align: center;
    background-color: #00458B;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #191970;
    color: #F0F8FF;
    border-color: #191970;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    color: #191970;
}

#schedule {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.parashah-data {
    background-color: #FFF8DC;
    width: 100%;
    text-align: left;
    padding: 20px;
    margin: 0;
}

.haftarah, .daf-yomi {
    background-color: #FFF8DC;
    width: 100%;
}

.sefaria {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    color: #87CEFA;
}

.sefaria a {
    color: #F0F8FF;
}

.refresh-parashah {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}